/* Clear floats after the columns */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* Main bar & Side bar */
.mainbar {
  /* border: 1px solid black; */
  float: left;
  width: 100%;
  padding-top: 20px;
}

.sidebar {
  /* border: 1px solid black; */
  float: left;
  width: 100%;
  padding: 10px;
}

@media screen and (--medium) {
  .mainbar {
    width: 75%;
  }
  .sidebar {
    width: 25%;
  }
}